{% extends 'base.html.twig' %}

{% block title %}Eat much blog
{% endblock %}

{% block navbar %}
    <div class="navbar">
        <div class="homeLink">
            <a href="{{path('appHomepage')}}">
                <h2>Eat much</h2>
            </a>
        </div>
        <div class="rightNav">
            <div class="glypSrch">
                <i class="glyphicon glyphicon-search"></i>
            </div>
            <div class="glypUsr">
                <i class="glyphicon glyphicon-user" title="{{name}}"></i>
            </div>
            <a href="{{path('userLogout')}}">
                <button>Logout</button>
            </a>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class="contentContainer">
        <div class="recentPost"></div>
        <div class="listPost">
            {% for key,val in posts %}
                <a href="">
                    <div class="articleContainer">
                        <div class="articleTitle">
                            <h2>{{val.Title}}</h2>
                        </div>
                        <div class="articleCreated">
                            <i>Created at:
                                {{val.createdAt|date("Y-m-d")}}</i>
                        </div>
                        <div class="articleAuthor">
                            <b>Created by:
                                {{val.user.Login}}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endblock %}
