{% extends 'base.html.twig' %}

{% block title %}
    Blog |
    {% block addition %}
        Homepage
    {% endblock %}
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link href="{{asset('styles/app.css')}}" rel="stylesheet"/>
{% endblock %}

{% block navbar %}
    <div class="navbar">
        <div class="homeLink">
            <a href="{{path('appHomepage')}}">
                Blog
            </a>
        </div>
        <div class="separator"></div>
        <div class="rightNav" id="nav">
            <div class="glypSrch" id="searchContainer">
                <i class="fas fa-search" title="Find post"></i>
            </div>
            {% if app.session.get('user') %}
                <div class="glypNew">
                    <a href="{{path('newArticle')}}" title="Create new article">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
                <div class="glypUsr">
                    <a href="{{path('userProfile', {'user':app.session.get('user').Login})}}">
                        <i class="fas fa-user" title="{{app.session.get('user').Login}}"></i>
                    </a>
                </div>
                <a href="{{path('userLogout')}}" class="logout">
                    <button>
                        <i class="fas fa-sign-out-alt"></i>
                    </button>
                </a>
            {% else %}
                <a href="{{path('userLogin')}}" class="login">
                    <button>Login</button>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="contentContainer">
        <div class="listPost">
            {% for post in posts %}
                {% set recent = false %}
                {% if loop.first == true %}
                    {% set recent = true %}
                {% endif %}
                <a href="{{path('articleShow', {'slug':post.link})}}" {% if recent == true %} class="recent" {% endif %}>
                    <div class="articleContainer">
                        {% if post.image is not null %}
                            <img src="{{asset('images/postsImages/' ~ post.image)}}" alt="Post image" class="post-img">
                        {% else %}
                            <p>
                                <i class="fas fa-globe-americas"></i>
                            </p>
                        {% endif %}
                        {% if recent == true %}
                            <div class="bottom-stick">
                                <p>{{post.Title}}</p>
                                <p>
                                    <span class="author">
                                        Author:
                                        {{post.user.Login}}
                                    </span>
                                    <span class="date">
                                        {{post.createdAt|date("M d, Y")}}
                                    </span>
                                </p>
                            </div>
                        {% else %}
                            <p>{{post.Title}}</p>
                            <p>
                                <span class="author">
                                    Author:
                                    {{post.user.Login}}
                                </span>
                                <span class="date">
                                    {{post.createdAt|date("M d, Y")}}
                                </span>
                            </p>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
            <a href="" class="show-all">
                <button>Check all posts</button>
            </a>
        </div>
        <div class="side">
            asdwqe
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script src="{{asset('js/search.js')}}"></script>
{% endblock %}
