{% extends 'base.html.twig' %}

{% block title %}
    Blog |
    {% block addition %}
        Homepage
    {% endblock %}
{% endblock %}

{% block navbar %}
    <div class="navbar">
        <div class="homeLink">
            <a href="{{path('appHomepage')}}">
                Blog
            </a>
        </div>
        <div class="separator"></div>
        <div class="rightNav" id="nav">
            <div class="glypNew">
                <a href="{{path('newArticle')}}" title="Create new article">
                    <i class="glyphicon glyphicon-plus"></i>
                </a>
            </div>
            <div class="glypSrch" id="searchContainer">
                <i class="glyphicon glyphicon-search" title="Find post"></i>
            </div>
            {% if app.session.get('user') %}
                <div class="glypUsr">
                    <a href="{{path('userProfile', {'user':app.session.get('user').Login})}}">
                        <i class="glyphicon glyphicon-user" title="{{app.session.get('user').Login}}"></i>
                    </a>
                </div>
            {% endif %}
            <a href="{{path('userLogout')}}">
                <button>
                    <i class="glyphicon glyphicon-log-out"></i>
                </button>
            </a>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="contentContainer">
        <div class="listPost">
            {% for post in posts %}
                {% set recent = false %}
                {% if loop.first == true %}
                    {% set recent = true %}
                {% endif %}
                <a href="{{path('articleShow', {'slug':post.link})}}" {% if recent == true %} class="recent" {% endif %}>
                    <div class="articleContainer">
                        {% if post.image is not null %}
                            <img src="{{asset('images/postsImages/' ~ post.image)}}" alt="Post image">
                        {% else %}
                            <p class="glyphicon glyphicon-globe"></p>
                        {% endif %}
                        <p>{{post.Title}}</p>
                        <p>
                            <span class="author">
                                Author:
                                {{post.user.Login}}
                            </span>
                            <span class="date">
                                {{post.createdAt|date("M d, Y")}}
                            </span>
                        </p>
                    </div>
                </a>
            {% endfor %}
            <a href="" class="show-all">
                <button>Check all posts</button>
            </a>
        </div>
        <div class="side">
            asdwqe
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{asset('js/search.js')}}"></script>
{% endblock %}
