{% extends 'base.html.twig' %}

{% block title %}
	Blog |
	{% block addition %}{% endblock %}
{% endblock %}

{% block stylesheets %}
	<link href="/styles/user/index.css" rel="stylesheet">
{% endblock %}

{% block body %}
	<nav class="nav-bar">
		<img src="/images/defaults/logo.svg" class="logo">
		<div class="search">
			<input type="text" placeholder="Provide fragment of post/comment or date..." id="search-input">
			<button id="search-button" disabled>
				Search
			</button>
		</div>
		<div class="links">
			<a href="{{path('homepage')}}" {% if app.request.attributes.get("_route") == "homepage" %} class="active" {% endif %}>
				Home
			</a>
			<a href="{{path('articlesPagination', {'page': 1})}}" {% if app.request.attributes.get("_route") == "articlesPagination" %} class="active" {% endif %}>
				Articles
			</a>
			{% if is_granted("ROLE_USER") %}
				<a href="{{path('userProfile')}}" {% if app.request.attributes.get("_route") == "userProfile" %} class="active" {% endif %}>
					Profile
				</a>
				<a href="{{path('userLogout')}}">
					Logout
				</a>
			{% else %}
				<a href="{{path('userLogin')}}">
					Login
				</a>
			{% endif %}
		</div>
	</nav>

	{% block content %}{% endblock %}
{% endblock %}


{% block javascripts %}
	<script src="/js/search.js"></script>
{% endblock %}
