{% extends "app/index.html.twig" %}

{% block addition %}
	Create article
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link href="/styles/user/new.css" rel="stylesheet">
{% endblock %}

{% block content %}
	{{form_start(article)}}
	<div class="inpBox">
		{{form_widget(article.title)}}
		{{form_label(article.title)}}
	</div>
	<div class="inpBox">
		{{form_widget(article.content)}}
		{{form_label(article.content)}}
	</div>
	<div class="inpBox">
		{{form_widget(article.image)}}
		{{form_label(article.image)}}
	</div>
	{{form_widget(article.submit)}}
	{% include "alerts.html.twig" %}
	{{form_end(article)}}
{% endblock %}

{% block javascripts %}
	<script src="/js/forms.js"></script>
{% endblock %}
