{% extends "app/index.html.twig" %}

{% set formater = 'You can check formater cheatsheet after click' %}

{% block title %}
    Create new post
{% endblock %}

{% block body %}
    <div class="creatorContainer">
        <div class="back">
            <a href="{{path('appHomepage')}}">
                <i class="fas fa-angle-left"></i>
                Homepage
            </a>
        </div>
        <div class="formContainer">
            {{form_start(form)}}
            <div class="title-org">
                <div class="label-side">
                    {{form_label(form.Title)}}
                </div>
                <div class="inp-side">
                    {{form_widget(form.Title)}}
                </div>
            </div>
            <div class="content-org">
                <div class="label-side">
                    {{form_label(form.Content)}}
                    <a href='https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet' target='_blank'>
                        <i class="fas fa-question-circle" title="{{formater}}"></i>
                    </a>
                </div>
                <div class="inp-side">
                    {{form_widget(form.Content)}}
                </div>
            </div>
            <div class="image-org">
                <div class="label-side">
                    {{form_label(form.IMG)}}
                </div>
                <div class="inp-side">
                    {{form_widget(form.IMG)}}
                </div>
            </div>
            <div class="submit-org">
                {{form_widget(form.Create)}}
            </div>
            {{form_end(form)}}
        </div>
    </div>
{% endblock %}
