{% extends "app/index.html.twig" %}

{% block addition %}
	Page -
	{% if app.request.get('page') %}
		{{app.request.get('page')}}
	{% else %}
		1
	{% endif %}
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link href="/styles/user/pagination.css" rel="stylesheet">
{% endblock %}

{% block content %}
	<main class="pagination-org">
		<section class="paginated-posts">
			{% for post in pagination %}
				<div class="post">
					<img {% if post.image %} src="/images/postsImages/{{post.image}}" {% else %} src="/images/defaults/post.svg" {% endif %}>
					<div class="post-content">
						<p class="post-title">
							{{post.Title}}
						</p>
						<p class="author-date">
							{{post.createdAt|date("D, m d, Y")}}
							by
							<a href="{{path('otherUser', {'id': post.user.id})}}">
								<b>
									{{post.user.details.firstName}}
								</b>
							</a>
						</p>
						<a href="{{path('displayArticle', {'link': post.link})}}" class="readmore">
							Read more
						</a>
					</div>
				</div>
			{% endfor %}
		</section>
		{{knp_pagination_render(pagination)}}
	</main>
{% endblock %}
