{% extends "app/index.html.twig" %}

{% block title %}
    {% if result is not empty %}
        Search result for
        {{query}}
    {% else %}
        Error 404 | Not Found
    {% endif %}
{% endblock %}

{% block body %}
    <div class="contentContainer">
        <div class="listPost">
            {% if result is empty %}
                {% include "404.html.twig" %}
            {% else %}
                {% for post in result %}
                    <a href="{{path('articleShow', {'slug':post.link})}}">
                        <div class="articleContainer">
                            {% if post.image is not null %}
                                <img src="{{asset('images/postsImages/' ~ post.image)}}" alt="Post image">
                            {% else %}
                                <p>
                                    <i class="fas fa-globe-americas"></i>
                                </p>
                            {% endif %}
                            <p>{{post.Title}}</p>
                            <p>
                                <span class="author">
                                    Author:
                                    {{post.user.Login}}
                                </span>
                                <span class="date">
                                    {{post.createdAt|date("M d, Y")}}
                                </span>
                            </p>
                        </div>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
