{% extends "app/index.html.twig" %}

{% block addition %}
	Search result for
	{{app.request.attributes.get('query')}}
	{% if pagination.getTotalItemCount > 8 %}
		-
		{{pagination.getCurrentPageNumber}}
	{% endif %}
{% endblock %}

{% block stylesheets %}
	<link href="/styles/search.css" rel="stylesheet">
{% endblock %}

{% block content %}
	<section class="search-org">
		<p class="org-title">
			Here's what we got for
			<b>
				{{app.request.attributes.get('query')}}
			</b>
		</p>
		<div class="results">
			{% for post in pagination %}
				<div class="post">
					<img {% if post.image %} src="/postsImages/{{post.image}}" {% else %} src="/images/defaults/post.svg" {% endif %}>
					<div class="post-content">
						<p class="post-title">
							{{post.Title}}
						</p>
						<p class="author-date">
							{{post.createdAt|date("D, m d, Y")}}
							by
							<a href="">
								<b>
									{{post.user.details.firstName}}
								</b>
							</a>
						</p>
						<a href="{{path('displayArticle', {'link': post.link})}}" class="readmore">
							Read more
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
		{{knp_pagination_render(pagination)}}
	</section>
{% endblock %}
