{% extends "app/index.html.twig" %}

{% block addition %}
	Post - #{{article.id}}
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link href="/styles/user/post.css" rel="stylesheet">
{% endblock %}

{% block content %}
	<section class="article-org">
		<div class="article-specs">
			<p class="article-title">
				{{article.Title}}
			</p>
			<a href="{{path('otherUser', {'id': article.user.id})}}" class="author">
				<img {% if article.user.details.image %} src="/images/userProfile/{{article.user.details.image}}" {% else %} src="/images/defaults/logo.svg" {% endif %}>
				<span>
					{{article.user.details.firstName}}
				</span>
			</a>
			<p class="date">
				{{article.createdAt|date('D, M d, Y H:i')}}
			</p>
			<div class="social-data">
				<div class="likes-counter">
					{% if app.user %}
						{% if app.user in article.likes %}
							<a href="{{path('likeArticle',{'link': article.link})}}">
								<img src="/images/icons/liked.svg">
							</a>
						{% else %}
							<a href="{{path('likeArticle',{'link': article.link})}}">
								<img src="/images/icons/like.svg">
							</a>
						{% endif %}
					{% else %}
						<img src="/images/icons/liked.svg">
					{% endif %}
					<p>
						{{article.likes|length}}
					</p>
				</div>
				<div class="comments-counter">
					<img src="/images/icons/comment.svg">
					<p>
						{{article.comments|length}}
					</p>
				</div>
			</div>
		</div>
		<p class="article-content">
			{{article.Content|raw}}
		</p>
		<img {% if article.image %} src="/images/postsImages/{{article.image}}" {% else %} src="/images/defaults/post.svg" {% endif %} class="article-image">
		<div class="comments">
			<div class="own-comment">
				{% if app.user %}
					{{form_start(comment)}}
					{{form_row(comment.comment)}}
					{{form_widget(comment.submit)}}
					{{form_end(comment)}}
				{% else %}
					<p class="not-logged">
						You must be
						<a href="{{path('userLogin', {'path': app.request.attributes.get('_route'), 'link': app.request.attributes.get('link')})}}">
							logged
						</a>
						to comment
					</p>
				{% endif %}
			</div>
			<div class="other-comments">
				{% for comment in article.comments|sort((a,b) => (b.addedAt <=> a.addedAt)) %}
					<div class="comment">
						<div class="about">
							<a href="{{path('otherUser', {'id': comment.User.id})}}" class="comment-author">
								<img {% if comment.User.details.image %} src="/images/userProfile/{{comment.User.details.image}}" {% else %} src="/images/defaults/logo.svg" {% endif %}>
								<span>
									{{comment.User.details.firstName}}
								</span>
							</a>
							<p class="comment-date">
								{% if comment.addedAt|date('d-m-Y') == "now"|date('d-m-Y') %}
									{{comment.addedAt|date('H:i')}}
								{% else %}
									{{comment.addedAt|date('D, M d')}}
								{% endif %}
							</p>
						</div>
						<p class="content">
							{{comment.Content}}
						</p>
					</div>
				{% else %}
					<p class="no-comments">
						Seems like this post wasn't commented yet.
						{% if app.user %}
							Go ahead and leave your comment!
						{% else %}
							<a href="{{path('userLogin')}}">
								Login
							</a>
							and leave your comment
						{% endif %}
					</p>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script src="/js/forms.js"></script>
{% endblock %}
