{% extends "app/index.html.twig" %}

{% block title %}
    {% if post is not empty %}

        {{post.Title}}
    {% else %}
        Error 404 | Not Found
    {% endif %}
{% endblock %}

{% block body %}
    <div class="postContainer">
        {% if post is not empty %}
            <div class="post">
                <div class="path">
                    <p>
                        <a href="{{path('appHomepage')}}">
                            <b>Home</b>
                        </a>
                        <i class="fas fa-angle-right"></i>
                        <span title="Your current location">
                            <b>{{post.Title}}</b>
                        </span>
                    </p>
                </div>
                <div class="artTitle">
                    <p>
                        {{post.Title}}
                    </p>
                </div>
                <div class="artExtra">
                    <div class="artAuthor">
                        {{post.user.Login}}
                    </div>
                    <div class="artDate">
                        {{post.createdAt.date|date('M d, Y H:i')}}
                    </div>
                    <div class="artLikes" id="likeSections">
                        {% if app.session.get('user') %}
                            {% if liked == true %}
                                <a href="{{path('likeArticle', {'slug': post.link})}}" id="hand">
                                    <i class="fas fa-heart"></i>
                                </a>
                            {% else %}
                                <a href="{{path('likeArticle', {'slug': post.link})}}" id="hand">
                                    <i class="far fa-heart"></i>
                                </a>
                            {% endif %}
                            <span class="likesCounter" data-value="{{post.likes|length}}">{{post.likes|length}}</span>
                        {% else %}
                            <p>
                                <i class="far fa-heart"></i>
                                <span>{{post.likes|length}}</span>
                            </p>
                        {% endif %}
                    </div>
                </div>
                <div class="artContent">
                    <p>{{post.Content|markdown}}</p>
                </div>
            </div>
            <div class="comments">
                <div class="counter">
                    <h2>Comments ({{comments|length}})</h2>
                </div>
                {% if app.session.get('user') %}
                    <div class="newComment">
                        {{form_start(form)}}
                        {{form_widget(form.Comment)}}
                        {{form_widget(form.Submit|raw)}}
                        {{form_end(form)}}
                    </div>
                {% else %}
                    <div class="comm-log">
                        <p>You must be logged in to comment</p>
                        <a href="{{path('userLogin')}}">
                            <button>Login</button>
                        </a>
                    </div>
                {% endif %}
                <div class="commentsList">
                    {% if comments == null %}
                        <div class="comment-none">
                            <p>This article hasn't been commented yet</p>
                        </div>
                    {% else %}
                        {% for comment in comments %}
                            <div class="comment" id="comment-{{comment.id}}">
                                <div class="comment-top">
                                    <a href="{{path('userProfile', {'user':comment.User.Login})}}">
                                        <div class="authorSection">
                                            <i class="fas fa-user"></i>
                                            <div class="comAuthor">{{comment.User.Login}}</div>
                                        </div>
                                    </a>
                                    <div class="comDate">{{comment.addedAt|date('Y-m-d H:i')}}</div>
                                </div>
                                <div class="comContent">{{comment.Content}}</div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% else %}
            {% include "404.html.twig" %}
        {% endif %}
    </div>
{% endblock %}
