{% extends "admin_dashboard/index.html.twig" %}

{% block addition %}
	Users management
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link href="/styles/admin/user/users.css" rel="stylesheet">
{% endblock %}

{% block content %}
	<table class="users-table">
		<tr>
			<th class="filter-by" data-by="id">
				ID
				{% if app.request.query.get('by') == 'id' %}
					{% if app.request.query.get('way') == 'ASC' %}
						<img src="/images/icons/up.svg" data-way="ASC" class="filter-way">
					{% else %}
						<img src="/images/icons/down.svg" data-way="DESC" class="filter-way">
					{% endif %}
				{% endif %}
				{% if app.request.query|length == 0 %}
					<img src="/images/icons/up.svg" data-way="ASC" class="filter-way">
				{% endif %}
			</th>
			<th class="filter-by" data-by="Username">
				Username
				{% if app.request.query.get('by') == 'Username' %}
					{% if app.request.query.get('way') == 'ASC' %}
						<img src="/images/icons/up.svg" data-way="ASC" class="filter-way">
					{% else %}
						<img src="/images/icons/down.svg" data-way="DESC" class="filter-way">
					{% endif %}
				{% endif %}
			</th>
			<th class="filter-by" data-by="Email">
				E-mail
				{% if app.request.query.get('by') == 'Email' %}
					{% if app.request.query.get('way') == 'ASC' %}
						<img src="/images/icons/up.svg" data-way="ASC" class="filter-way">
					{% else %}
						<img src="/images/icons/down.svg" data-way="DESC" class="filter-way">
					{% endif %}
				{% endif %}
			</th>
			<th class="filter-by" data-by="Articles">
				Articles
				{% if app.request.query.get('by') == 'Articles' %}
					{% if app.request.query.get('way') == 'ASC' %}
						<img src="/images/icons/up.svg" data-way="ASC" class="filter-way">
					{% else %}
						<img src="/images/icons/down.svg" data-way="DESC" class="filter-way">
					{% endif %}
				{% endif %}
			</th>
			<th>
				Disabled
			</th>
			<th>
				Role
			</th>
			<th>
				Actions
			</th>
		</tr>
		{% for user in users %}
			<tr {% if loop.index % 2 == 0 %} class="comment-row even" {% else %} class="comment-row odd" {% endif %}>
				<td class="id-field">
					<p>
						{{user.id}}
					</p>
				</td>
				<td class="username-field">
					<p>
						{{user.Username}}
					</p>
				</td>
				<td class="email-field">
					<p>
						{{user.Email}}
					</p>
				</td>
				<td class="articles-field">
					<p>
						{{user.Article|length}}
					</p>
				</td>
				<td class="disabled-field">
					<p>
						{% if user.isDisabled == false %}
							No
						{% else %}
							Yes
						{% endif %}
					</p>
				</td>
				<td class="role-field">
					<p>
						{{user.roles|last}}
					</p>
				</td>
				<td class="action-field">
					{% if is_granted("ROLE_SUPER_ADMIN") %}
						{% if "ROLE_SUPER_ADMIN" not in user.roles %}
							<a href="{{path('adminPromote', {'id': user.id})}}">
								<img src="/images/icons/up.svg">
							</a>
						{% endif %}
						{% if user.roles|length > 1 %}
							<a href="{{path('adminDemote', {'id': user.id})}}">
								<img src="/images/icons/down.svg">
							</a>
						{% endif %}
						<a href="{{path('adminDisable', {'id': user.id})}}">
							{% if user.isDisabled == false %}
								<img src="/images/icons/on.svg">
							{% else %}
								<img src="/images/icons/off.svg">
							{% endif %}
						</a>
					{% endif %}
					<a data-id="{{user.id}}" class="remove-row">
						<img src="/images/icons/delete.svg">
					</a>
				</td>
			</tr>
		{% endfor %}
	</table>
	{{knp_pagination_render(users)}}
{% endblock %}

{% block javascripts %}
	<script src="/js/delete.js"></script>
	<script src="/js/filter.js"></script>
{% endblock %}
