{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="/styles/_nav.css">
{% endblock %}

{% block title %}
	{{ location|capitalize }}
{% endblock %}

{% block body %}
	<nav class="navigation-container">
		<div class="navigation-top">
			<span class="logo-label">Blog</span>
			<div class="links">
				<a href="{{ path('home') }}" {% if app.request.get("_route") == "home" %} class="active" {% endif %}>Home</a>
				<a href="{{ path('articleList') }}" {% if app.request.get("_route") in ['articleList', 'articleCreate', 'articleEdit', 'articleView'] %} class="active" {% endif %}>Articles</a>
				<a href="{{ path('categoryList') }}" {% if app.request.get("_route") in ['categoryList', 'categoryCreate', 'categoryEdit'] %} class="active" {% endif %}>Categories</a>
				<a href="{{ path('tagList') }}" {% if app.request.get("_route") in ['tagList', 'tagCreate', 'tagEdit'] %} class="active" {% endif %}>Tags</a>
				{% if app.user %}
					<a href="{{ path('userProfile') }}" {% if app.request.get("_route") in ['userProfile', 'userProfileEdit'] %} class="active" {% endif %}>Profile</a>
				{% endif %}
				{% if app.user and "ROLE_ADMIN" in app.user.roles %}
					<a href="">Dashboard</a>
				{% endif %}
			</div>
			{% if app.user %}
				<a href="{{ path('logout') }}" class="logout-link">Logout</a>
			{% else %}
				<a href="{{ path('login') }}" {% if app.request.get("_route") == "login" %} class="active" {% endif %}>Login</a>
			{% endif %}
		</div>
		{% if app.request.get("_route") not in ["login", "register"] %}
			<div class="navigation-location">
				<p class="location">{{ location|capitalize }}</p>
				{% if path %}
					<p class="path">
						<a href="{{ path('home') }}">Home</a>
						<svg class="diamond-icon" stroke="currentColor" fill="currentColor" stroke-width="0" viewbox="0 0 16 16" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 010-2.098L6.95.435zm1.4.7a.495.495 0 00-.7 0L1.134 7.65a.495.495 0 000 .7l6.516 6.516a.495.495 0 00.7 0l6.516-6.516a.495.495 0 000-.7L8.35 1.134z" clip-rule="evenodd"></path>
						</svg>
						{% if app.request.get('_route') == "search" %}
							<span>{{ path|capitalize }}</span>
						{% else %}
							<a href="{{ path(pathLink) }}">{{ path|capitalize }}</a>
						{% endif %}
					</p>
				{% elseif app.request.get("_route") == "home" %}
					<p class="description">
						Place where you can read many things in many different categories you are interested in and find new interesting things for you
					</p>
				{% endif %}
			</div>
		{% endif %}
	</nav>

	<main class="content-container">
		{% block content %}{% endblock %}
		{% if app.request.get('_route') not in ['login', 'register'] %}
			<section class="side-content"> {% block sideBtn %}{% endblock %}
				{% include "defaults/_search.html.twig" %}
				{% include "defaults/_categories.html.twig" %}
			</section>
		{% endif %}
	</main>
{% endblock %}

{% block javascripts %}
	<script src="/scripts/_nav.js"></script>
{% endblock %}
