{% extends "defaults/_nav.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/styles/app/category/view.css">
{% endblock %}

{% block content %}
	<section class="category-authors-container">
		<h2 class="subcontainer-label">Category authors ({{ authors|length }})</h2>
		<div class="author-container">
			{% for author in authors %}
				<a href="{{ path('userProfile', {'username': author.username}) }}" class="author-box">{{ author.username }}</a>
			{% endfor %}
		</div>
	</section>
{% endblock %}

{% block sideBtn %}
	{% if app.user and "ROLE_ADMIN" in app.user.roles %}
		<a href="{{ path('categoryCreate') }}" class="admin-create-btn">
			<svg class="plus-icon" stroke="currentColor" fill="currentColor" stroke-width="0" viewbox="0 0 16 16" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z" clip-rule="evenodd"></path>
				<path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd"></path>
			</svg>
			Create new category
		</a>
	{% endif %}
{% endblock %}
