{% extends 'base.html.twig' %}

{% block title %}Admin dashboard
{% endblock %}

{% block stylesheets %}
    {{parent()}}

    <link href="{{asset('styles/admin.css')}}" rel="stylesheet"/>
{% endblock %}

{% block navbar %}
    <div class="nav">
        <a href="{{path('adminDashboard')}}"><img src="{{asset('images/aDash.png')}}" alt="dashLogo" title="Admin dashboard"/></a>
        <div class="userManage">
            <button title="Users">
                <i class="glyphicon glyphicon-user"></i>
            </button>
        </div>
        <div class="postManage">
            <a href="{{path('managePosts')}}">
                <button title="Posts">
                    <i class="glyphicon glyphicon-book"></i>
                </button>
            </a>
        </div>
        <div class="commentManage">
            <button title="Comments">
                <i class="glyphicon glyphicon-comment"></i>
            </button>
        </div>

        <div class="logOut">
            {% set user = user %}
            {% set username = user.username %}
            <p>Logged as
                {{user.username}}(<a href="{{path('dashLogout')}}">Logout</a>)
            </p>
        </div>
    </div>
{% endblock %}

{% block body %}{% endblock %}
