{% extends 'base.html.twig' %}

{% block title %}Admin dashboard
{% endblock %}

{% block stylesheets %}
    {{parent()}}

    <link href="{{asset('styles/admin.css')}}" rel="stylesheet"/>
{% endblock %}

{% block navbar %}
    <div class="nav">
        <a href="{{path('adminDashboard')}}"><img src="{{asset('images/aDash.png')}}" alt="dashLogo" title="Admin dashboard"/></a>
        <a href="{{path('manageUsers')}}">
            <i class="fas fa-user"></i>
        </a>
        <a href="{{path('managePosts')}}">
            <i class="fas fa-book"></i>
        </a>
        <a href="{{path('manageComments')}}">
            <i class="fas fa-comment"></i>
        </a>
        <a href="{{path('dashLogout')}}">Logout</a>
    </div>
{% endblock %}

{% block body %}
    <main class="dash-greet">
        <h1>Hello
            {{app.user.username}}
        </h1>
        <p>
            Please pick action you want to do from navbar
        </p>
    </main>
{% endblock %}
