{% extends "defaults/_nav.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/styles/app/article/form.css">
{% endblock %}

{% block content %}
	{{ form_start(form) }}
	<div class="form-box">
		{{ form_label(form.title) }}
		{{ form_widget(form.title) }}
	</div>
	<div class="form-box">
		{{ form_label(form.content) }}
		{{ form_widget(form.content) }}
	</div>
	<div class="form-box">
		{{ form_label(form.images) }}
		{{ form_widget(form.images) }}
	</div>
	<div class="form-box">
		{{ form_label(form.uploaded) }}
		<div class="images-container">
			{% for img in form.uploaded %}
				<div class="img-box">
					<label for="article_uploaded_{{ loop.index0 }}">
						<img src="/uploads/{{ img.vars.value }}" alt="Uploaded {{ loop.index0 }}" class="edit-uploaded-image">
					</label>
					{{form_widget(img, {'attr': {'checked': true}})}}
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="form-box">
		{{ form_label(form.category) }}
		<select id="{{ form.category.vars.id }}" name="{{ form.category.vars.full_name }}" required="required">
			{% for opt in form.category.vars.choices %}
				<option value="{{ opt.value }}" {% if oldCategory.name|capitalize == opt.label|capitalize %} selected {% endif %}>{{ opt.label }}</option>
			{% endfor %}
		</select>
	</div>
	{{ form_widget(form._token) }}
	{{ form_widget(form.submit) }}
	{% if error %}
		<div class="alert-danger">{{ error }}</div>
	{% endif %}
	{{ form_end(form, {'render_rest': false}) }}
{% endblock %}

{% block sideBtn %}
	{% if app.user and "ROLE_ADMIN" in app.user.roles %}
		<a href="{{ path('articleCreate') }}" class="admin-create-btn">
			<svg class="plus-icon" stroke="currentColor" fill="currentColor" stroke-width="0" viewbox="0 0 16 16" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z" clip-rule="evenodd"></path>
				<path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd"></path>
			</svg>
			Create new article
		</a>
	{% endif %}
{% endblock %}
