{% extends 'base.html.twig' %}

{% block title %}Login
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link href="{{asset('styles/user.css')}}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="logContainer">
        <p>Login</p>
        {{form_start(form)}}
        <div class="username">
            <i class="fas fa-user"></i>
            {{form_widget(form.Username)}}
        </div>
        <div class="password">
            <i class="fas fa-lock"></i>
            {{form_widget(form.Password)}}
        </div>
        {{form_widget(form.Login)}}
        {{form_end(form)}}
        <p>
            <a href="{{path('userRegister')}}">You have no account yet? Register now!</a>
        </p>
    </div>
{% endblock %}
