{% extends "app/index.html.twig" %}

{% block addition %}
	{{user.details.firstName}}'s profile
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link href="{{asset('styles/user/profile.css')}}" rel="stylesheet"/>
{% endblock %}

{% block content %}
	<section class="profile-org">
		<div class="profile-side">
			<img {% if user.details.image %} src="/images/userProfile/{{user.details.image}}" {% else %} src="/images/defaults/logo.svg" {% endif %} class="profile-pic">
			<p class="who">
				<span class="user-name">
					{% if user.details.firstName %}
						{{user.details.firstName}}
					{% else %}
						Not provided
					{% endif %}
				</span>
				<span class="username">
					@{{user.Username}}
				</span>
			</p>
			<p class="joined">
				{{user.joinedAt|date("M d, Y")}}
			</p>
			{% if user.details.birthdayDate %}
				<p class="birthday">
					{{user.details.birthdayDate|date('M d, Y')}}
					{% set diff = date("now").diff(date(user.details.birthdayDate)) %}
					({{diff.y}}
					y/o)
				</p>
			{% endif %}
			{% if user.details.location %}
				<p class="location">
					{{user.details.location}}
				</p>
			{% endif %}
			{% if user.details.bio %}
				<p class="bio">
					{{user.details.bio}}
				</p>
			{% endif %}
		</div>
		<div class="profile-data">
			<div class="data-nav">
				<span class="posts active-tab">
					Posts
				</span>
				<span class="comments">
					Comments
				</span>
			</div>
			<div class="posts-content active-content">
				{% for post in user.Article|sort((a,b) => (b.createdAt <=> a.createdAt)) %}
					<div class="user-post">
						<img {% if post.image %} src="/images/postsImages/{{post.image}}" {% else %} src="/images/defaults/post.svg" {% endif %}>
						<div class="post-content">
							<p class="post-title">
								{{post.Title}}
							</p>
							<p class="date">
								{{post.createdAt|date("D, M d, Y")}}
							</p>
							<a href="{{path('displayArticle', {'link': post.link})}}" class="readmore">
								Read more
							</a>
						</div>
					</div>
				{% else %}
					<div class="null-data">
						Wow such empty
					</div>
				{% endfor %}
			</div>
			<div class="comments-content">
				{% for comment in user.comments|sort((a,b) => (b.addedAt <=> a.addedAt)) %}
					<div class="user-comment">
						<p class="comment-art-title">
							{{comment.Article.Title}}
						</p>
						<p class="comment-add-date">
							{% if comment.addedAt|date('d-m-Y') == "now"|date('d-m-Y') %}
								{{comment.addedAt|date('H:i')}}
							{% else %}
								{{comment.addedAt|date('D, M d')}}
							{% endif %}
						</p>
						<p class="comment-content">
							{{comment.Content|raw}}
						</p>
					</div>
				{% else %}
					<div class="null-data">
						Wow such empty
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
{% block javascripts %}
	<script src="/js/profile.js"></script>
{% endblock %}
