{% extends "user/profile.html.twig" %}

{% block title %}
    {{app.session.get('user').Login}}'s profile edition
{% endblock %}

{% block userMenu %}
    <a href="{{path('userProfile', {'user': app.request.attributes.get('_route_params').user})}}" class="backProf">
        <i class="fas fa-angle-left"></i>
        Back to profile
    </a>
{% endblock %}

{% block userContent %}
    <div class="userProfEdit">
        {{form_start(form)}}
        <div>
            <div class="label-side">E-mail</div>
            <div class="value-side">{{form_widget(form.Email)}}</div>
        </div>
        <div>
            <div class="label-side">First name</div>
            <div class="value-side">{{form_widget(form.firstName)}}</div>
        </div>
        <div>
            <div class="label-side">Birthday date</div>
            <div class="value-side">{{form_widget(form.Bday)}}</div>
        </div>
        <div>
            <div class="label-side">Located at</div>
            <div class="value-side">{{form_widget(form.Location)}}</div>
        </div>
        <div>
            <div class="label-side">Bio</div>
            <div class="value-side">{{form_widget(form.Bio)}}</div>
        </div>
        <div class="saveChanges">
            {{form_widget(form.Save)}}
        </div>
        {{form_end(form)}}
    </div>
{% endblock %}

{% block profileDynamic %}{% endblock %}
