{% extends "app/index.html.twig" %}

{% block title %}
    {{name}}
    - profile
{% endblock %}

{% block body %}
    <div class="userProfile" id="user">
        <div class="userMenu">
            <div class="sideMenu">
                <ul>
                    <li id="personal">
                        <a class="btn" href="#data">Personal info</a>
                    </li>
                    <li id="feed">
                        <a class="btn" href="#activity">Activity</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="userData" id="data">
            <div class="login" id="loginCont">
                <div class="name">Login</div>
                <div class="value">{{user.0.Login}}</div>
            </div>
            <div class="password" id="passCont">
                <div class="name">Password</div>
                <div class="value">
                    {% for i in range(1, user.0.Password|length) %}
                        *
                    {% endfor %}
                </div>
            </div>
            <div class="email" id="mailCont">
                <div class="name">E-mail</div>
                <div class="value">{{user.0.Email}}</div>
            </div>
            <div class="joined" id="joinCont">
                <div class="name">Joined at</div>
                <div class="value">{{user.0.joinedAt|date('d/m/Y H:i:s')}}</div>
            </div>
            <div class="firstName" id="nameCont">
                <div class="name">First name</div>
                <div class="value">{{details.firstName}}</div>
            </div>
            <div class="birthdayDate" id="bdayCont">
                <div class="name">Birthday date</div>
                {% if details.birthdayDate is empty %}
                    <div class="value"></div>
                {% else %}
                    <div class="value">{{details.birthdayDate|date('d/m/Y')}}</div>
                {% endif %}
            </div>
            <div class="location" id="locCont">
                <div class="name">Located at</div>
                <div class="value">{{details.location}}</div>
            </div>
            <div class="bio" id="bioCont">
                <div class="name">Bio</div>
                <div class="value">{{details.bio}}</div>
            </div>
            {% if user.0.Login == logged.Login %}
                <div class="makeChanges">
                    <a href="{{path('userEditProfile', {'user':user.0.Login})}}">
                        <button class="btn btn-submit">Make changes</button>
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="userActivity" id="activity">
            <div class="select">
                <li id="articles">
                    <a class="btn" href="#articles">Articles</a>
                </li>
                <li id="comments">
                    <a class="btn" href="#comments">Comments</a>
                </li>
            </div>
            <div class="articles" id="articlesCont">
                {% for post in posts %}
                    <a href="{{path('articleShow', {'slug':post.link})}}">
                        <div class="contentElement">
                            <h3>{{post.Title}}</h3>
                            <h5>{{post.User.Login}}</h5>
                            <p class="content">{{post.Content}}</p>
                            <p class="date">{{post.createdAt|date('d/m/Y')}}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="comments" id="commentsCont">
                {% for comment in comments %}
                    <div class="contentElement">
                        <h3>{{comment.Article.Title}}</h3>
                        <h5>{{comment.User.Login}}
                            answered
                            {{comment.Article.user.Login}}
                            in
                            <a href="{{path('articleShow', {'slug':comment.Article.link})}}">post</a>
                        </h5>
                        <p class="content">{{comment.Content}}</p>
                        <p class="date">{{comment.addedAt|date('d/m/Y')}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{asset('js/profile.js')}}"></script>
{% endblock %}
