{% extends 'base.html.twig' %}

{% block title %}
	Register
{% endblock %}

{% block stylesheets %}
	<link href="/styles/user/register.css" rel="stylesheet">
{% endblock %}

{% block body %}
	{{form_start(register)}}
	<p class="tag">
		Register
	</p>
	<div class="inpBox">
		{{form_widget(register.username)}}
		{{form_label(register.username)}}
	</div>
	<div class="inpBox">
		{{form_widget(register.password)}}
		{{form_label(register.password)}}
		<span class="showBtn">
			Show
		</span>
	</div>
	<div class="inpBox">
		{{form_widget(register.email)}}
		{{form_label(register.email)}}
	</div>
	{{form_widget(register.submit)}}
	<a href="{{path('userLogin')}}">
		Already a member?
	</a>
	{% include "alert.html.twig" %}
	{{form_end(register)}}
{% endblock %}

{% block javascripts %}
	<script src="/js/forms.js"></script>
{% endblock %}
