{% extends 'base.html.twig' %}

{% block title %}
	Register
{% endblock %}

{% block body %}
	{{form_start(register)}}
	{{form_row(register.username)}}
	<div>
		{{form_label(register.password)}}
		{{form_widget(register.password)}}
		<span class="showBtn">
			Show
		</span>
	</div>
	{{form_row(register.email)}}
	{{form_widget(register.submit)}}
	<a href="{{path('userLogin')}}">
		Login
	</a>
	{% include "alert.html.twig" %}
	{{form_end(register)}}
{% endblock %}

{% block javascripts %}
	<script src="/js/forms.js"></script>
{% endblock %}
